In [2]:
# using pandas
import pandas as pd
file = pd.read_csv("cars.csv")
file

              Car  Year  Color  Price ($)
0  Toyota Corolla  2020   Blue      20000
1     Honda Civic  2019  Black      22000
2    Ford Mustang  2021    Red      35000
3   Tesla Model 3  2022  White      45000
4    BMW 3 Series  2018   Gray      37000

In [ ]:
#using open
with open("cars.csv") as file:
    for line in file.readlines():
        print(line)

In [3]:
#Setting up chromadb
import chromadb
client = chromadb.Client()
#Creating verctorDB database
collection = client.create_collection(name="cars")

In [4]:
# creating data in a the required fields to apend in db
ids =[]
metadata =[]
document =[]

for i,row in file.iterrows():
    doc = f"{row['Car']} ({row['Year']}) - Color: {row['Color']} , Price:{row['Price ($)']}"
    document.append(doc)
    metadata.append({'Car':row['Car'],
                     'Year':row['Year'],
                     'Color':row['Color'],
                     'Price':row['Price ($)']
                     })
    ids.append(str(i))

In [5]:
# feeding the data to vector db database
collection.add(
    ids=ids,
    documents=document,
    metadatas=metadata
)

In [8]:
# querying from db
query = "Which car is electric?"
result = collection.query(
             query_texts=[query],
            n_results=2
            )

print("query", query)
print("result", result['documents'])

query Which car is electric?
result [['Tesla Model 3 (2022) - Color: White , Price:45000', 'Honda Civic (2019) - Color: Black , Price:22000']]